<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.com.ecenter.pre.mapper.FormFileMapper">
    <resultMap type="cn.com.ecenter.pre.entity.FormFileEntity" id="BaseResultMap">
        <result property="unid" column="UNID"/>
        <result property="projid" column="PROJID"/>
        <result property="belongto" column="BELONGTO"/>
        <result property="type" column="TYPE"/>
        <result property="name" column="NAME"/>
        <result property="filepath" column="FILEPATH"/>
        <result property="remark" column="REMARK"/>
        <result property="belongsystem" column="BELONGSYSTEM"/>
        <result property="areacode" column="Areacode"/>
        <result property="extend" column="EXTEND"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="syncStatus" column="SYNC_STATUS"/>
        <result property="dataversion" column="DATAVERSION"/>
        <result property="servicecode" column="SERVICECODE"/>
        <result property="serviceDeptid" column="SERVICE_DEPTID"/>
        <result property="xkLydw" column="XK_LYDW"/>
        <result property="xkLydwdm" column="XK_LYDWDM"/>
        <result property="originalName" column="originalName"/>
        <result property="extend3" column="EXTEND_3"/>
        <result property="extend4" column="EXTEND_4"/>
        <result property="extend5" column="EXTEND_5"/>
        <result property="op" column="op"/>
        <result property="tongTime" column="tong_time"/>
        <result property="tongid" column="tongID"/>
    </resultMap>

    <sql id="Base_Column_List">
                        UNID,
                        PROJID,
                        BELONGTO,
                        TYPE,
                        NAME,
                        FILEPATH,
                        REMARK,
                        BELONGSYSTEM,
                        Areacode,
                        EXTEND,
                        CREATE_TIME,
                        SYNC_STATUS,
                        DATAVERSION,
                        SERVICECODE,
                        SERVICE_DEPTID,
                        XK_LYDW,
                        XK_LYDWDM,
                        originalName,
                        EXTEND_3,
                        EXTEND_4,
                        EXTEND_5,
                        op,
                        tong_time,
                        tongID,
     </sql>

    <insert id="insertSelective" parameterType="cn.com.ecenter.pre.entity.FormFileEntity"  useGeneratedKeys="true" keyProperty="id" >
        insert into pre_form_file
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="unid != null" >
                UNID,
            </if>
            <if test="projid != null" >
                PROJID,
            </if>
            <if test="belongto != null" >
                BELONGTO,
            </if>
            <if test="type != null" >
                TYPE,
            </if>
            <if test="name != null" >
                NAME,
            </if>
            <if test="filepath != null" >
                FILEPATH,
            </if>
            <if test="remark != null" >
                REMARK,
            </if>
            <if test="belongsystem != null" >
                BELONGSYSTEM,
            </if>
            <if test="areacode != null" >
                Areacode,
            </if>
            <if test="extend != null" >
                EXTEND,
            </if>
            <if test="createTime != null" >
                CREATE_TIME,
            </if>
            <if test="syncStatus != null" >
                SYNC_STATUS,
            </if>
            <if test="dataversion != null" >
                DATAVERSION,
            </if>
            <if test="servicecode != null" >
                SERVICECODE,
            </if>
            <if test="serviceDeptid != null" >
                SERVICE_DEPTID,
            </if>
            <if test="xkLydw != null" >
                XK_LYDW,
            </if>
            <if test="xkLydwdm != null" >
                XK_LYDWDM,
            </if>
            <if test="originalName != null" >
                originalName,
            </if>
            <if test="extend3 != null" >
                EXTEND_3,
            </if>
            <if test="extend4 != null" >
                EXTEND_4,
            </if>
            <if test="extend5 != null" >
                EXTEND_5,
            </if>
            <if test="op != null" >
                op,
            </if>
            <if test="tongTime != null" >
                tong_time,
            </if>
            <if test="tongid != null" >
                tongID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="unid != null" >
                #{unid},
            </if>
            <if test="projid != null" >
                #{projid},
            </if>
            <if test="belongto != null" >
                #{belongto},
            </if>
            <if test="type != null" >
                #{type},
            </if>
            <if test="name != null" >
                #{name},
            </if>
            <if test="filepath != null" >
                #{filepath},
            </if>
            <if test="remark != null" >
                #{remark},
            </if>
            <if test="belongsystem != null" >
                #{belongsystem},
            </if>
            <if test="areacode != null" >
                #{areacode},
            </if>
            <if test="extend != null" >
                #{extend},
            </if>
            <if test="createTime != null" >
                #{createTime},
            </if>
            <if test="syncStatus != null" >
                #{syncStatus},
            </if>
            <if test="dataversion != null" >
                #{dataversion},
            </if>
            <if test="servicecode != null" >
                #{servicecode},
            </if>
            <if test="serviceDeptid != null" >
                #{serviceDeptid},
            </if>
            <if test="xkLydw != null" >
                #{xkLydw},
            </if>
            <if test="xkLydwdm != null" >
                #{xkLydwdm},
            </if>
            <if test="originalName != null" >
                #{originalName},
            </if>
            <if test="extend3 != null" >
                #{extend3},
            </if>
            <if test="extend4 != null" >
                #{extend4},
            </if>
            <if test="extend5 != null" >
                #{extend5},
            </if>
            <if test="op != null" >
                #{op},
            </if>
            <if test="tongTime != null" >
                #{tongTime},
            </if>
            <if test="tongid != null" >
                #{tongid},
            </if>
        </trim>
    </insert>

    <update id="updateByUNID" parameterType="cn.com.ecenter.pre.entity.FormFileEntity" >
        update pre_form_file
        <set >
            <if test="projid != null" >
                PROJID = #{projid},
            </if>
            <if test="belongto != null" >
                BELONGTO = #{belongto},
            </if>
            <if test="type != null" >
                TYPE = #{type},
            </if>
            <if test="name != null" >
                NAME = #{name},
            </if>
            <if test="filepath != null" >
                FILEPATH = #{filepath},
            </if>
            <if test="remark != null" >
                REMARK = #{remark},
            </if>
            <if test="belongsystem != null" >
                BELONGSYSTEM = #{belongsystem},
            </if>
            <if test="areacode != null" >
                Areacode = #{areacode},
            </if>
            <if test="extend != null" >
                EXTEND = #{extend},
            </if>
            <if test="createTime != null" >
                CREATE_TIME = #{createTime},
            </if>
            <if test="syncStatus != null" >
                SYNC_STATUS = #{syncStatus},
            </if>
            <if test="dataversion != null" >
                DATAVERSION = #{dataversion},
            </if>
            <if test="servicecode != null" >
                SERVICECODE = #{servicecode},
            </if>
            <if test="serviceDeptid != null" >
                SERVICE_DEPTID = #{serviceDeptid},
            </if>
            <if test="xkLydw != null" >
                XK_LYDW = #{xkLydw},
            </if>
            <if test="xkLydwdm != null" >
                XK_LYDWDM = #{xkLydwdm},
            </if>
            <if test="originalName != null" >
                originalName = #{originalName},
            </if>
            <if test="extend3 != null" >
                EXTEND_3 = #{extend3},
            </if>
            <if test="extend4 != null" >
                EXTEND_4 = #{extend4},
            </if>
            <if test="extend5 != null" >
                EXTEND_5 = #{extend5},
            </if>
            <if test="op != null" >
                op = #{op},
            </if>
            <if test="tongTime != null" >
                tong_time = #{tongTime},
            </if>
            <if test="tongid != null" >
                tongID = #{tongid},
            </if>
        </set>
        where UNID = #{unid}
    </update>

    <select id="getByUUID" resultMap="BaseResultMap" parameterType="java.lang.String" >
            select
            *
            from pre_form_file
            where BELONGTO = #{belongto}
    </select>

    <select id="deleteByUUID" resultMap="BaseResultMap" parameterType="java.lang.String" >
           delete  from pre_form_file where unid = #{unid}
    </select>

    <select id="getById" resultMap="BaseResultMap">
           select *  from pre_form_file where
           id in
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>


</mapper>